---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__HomesQuery {\n  viewer {\n    homes
        {\n      id\n      appNickname\n    }\n  }\n}","operationName":"Tibber__Graphql__Queries__HomesQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-/9ScBTwfRue5yZRJZSqgOr+vAVg"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"homes":[{"id":"96a14971-525a-4420-aae9-e5aedaa129ff","appNickname":"Vitahuset"}]}}}

        '
  recorded_at: Thu, 27 Apr 2023 08:28:12 GMT
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__ConsumptionQuery($home_id:
        ID!, $resolution: EnergyResolution!, $first: Int, $last: Int, $before: String,
        $after: String) {\n  viewer {\n    home(id: $home_id) {\n      consumption(resolution:
        $resolution, first: $first, last: $last, before: $before, after: $after) {\n        nodes
        {\n          from\n          to\n          cost\n          currency\n          unitPrice\n          unitPriceVAT\n          consumption\n          consumptionUnit\n        }\n      }\n    }\n  }\n}","variables":{"home_id":"96a14971-525a-4420-aae9-e5aedaa129ff","last":1,"resolution":"HOURLY"},"operationName":"Tibber__Graphql__Queries__ConsumptionQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6-Vqb85ovFqKFUiMtNFti+eZsBKsk"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"home":{"consumption":{"nodes":[{"from":"2023-04-27T09:00:00.000+02:00","to":"2023-04-27T10:00:00.000+02:00","cost":0,"currency":"SEK","unitPrice":1.618325,"unitPriceVAT":0.323665,"consumption":0,"consumptionUnit":"kWh"}]}}}}}

        '
  recorded_at: Thu, 27 Apr 2023 08:28:12 GMT
recorded_with: VCR 6.1.0
