---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__HomesQuery {\n  viewer {\n    homes
        {\n      id\n      appNickname\n    }\n  }\n}","operationName":"Tibber__Graphql__Queries__HomesQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-/9ScBTwfRue5yZRJZSqgOr+vAVg"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"homes":[{"id":"96a14971-525a-4420-aae9-e5aedaa129ff","appNickname":"Vitahuset"}]}}}

        '
  recorded_at: Thu, 27 Apr 2023 10:44:23 GMT
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__ConsumptionQuery($home_id:
        ID!, $resolution: EnergyResolution!, $first: Int, $last: Int, $before: String,
        $after: String) {\n  viewer {\n    home(id: $home_id) {\n      consumption(resolution:
        $resolution, first: $first, last: $last, before: $before, after: $after) {\n        nodes
        {\n          from\n          to\n          cost\n          currency\n          unitPrice\n          unitPriceVAT\n          consumption\n          consumptionUnit\n        }\n      }\n    }\n  }\n}","variables":{"home_id":"96a14971-525a-4420-aae9-e5aedaa129ff","resolution":"HOURLY"},"operationName":"Tibber__Graphql__Queries__ConsumptionQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"128-PZoyQfuET7IQzN8seHPfiAhAVgA"
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"You must provide a \"first\" or \"last\" value
        to properly paginate the \"consumption\" connection.","locations":[{"line":4,"column":7}],"path":["viewer","home","consumption"],"extensions":{"code":"INTERNAL_SERVER_ERROR"}}],"data":{"viewer":{"home":{"consumption":null}}}}

        '
  recorded_at: Thu, 27 Apr 2023 10:44:23 GMT
recorded_with: VCR 6.1.0
