---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__HomesQuery {\n  viewer {\n    homes
        {\n      id\n      appNickname\n    }\n  }\n}","operationName":"Tibber__Graphql__Queries__HomesQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-/9ScBTwfRue5yZRJZSqgOr+vAVg"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"homes":[{"id":"96a14971-525a-4420-aae9-e5aedaa129ff","appNickname":"Vitahuset"}]}}}

        '
  recorded_at: Thu, 20 Apr 2023 10:49:30 GMT
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__ConsumptionQuery($home_id:
        ID!, $resolution: EnergyResolution!, $first: Int, $last: Int, $before: String,
        $after: String) {\n  viewer {\n    home(id: $home_id) {\n      consumption(resolution:
        $resolution, first: $first, last: $last, before: $before, after: $after) {\n        nodes
        {\n          from\n          to\n          cost\n          currency\n          unitPrice\n          unitPriceVAT\n          consumption\n          consumptionUnit\n        }\n      }\n    }\n  }\n}","variables":{"home_id":"96a14971-525a-4420-aae9-e5aedaa129ff","last":10,"resolution":"HOURLY"},"operationName":"Tibber__Graphql__Queries__ConsumptionQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c9-4DeUaLslU5KI94UqW5pI1uWS71U"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"home":{"consumption":{"nodes":[{"from":"2023-04-20T02:00:00.000+02:00","to":"2023-04-20T03:00:00.000+02:00","cost":1.91133595,"currency":"SEK","unitPrice":0.62935,"unitPriceVAT":0.12587,"consumption":3.037,"consumptionUnit":"kWh"},{"from":"2023-04-20T03:00:00.000+02:00","to":"2023-04-20T04:00:00.000+02:00","cost":2.0517049,"currency":"SEK","unitPrice":0.634025,"unitPriceVAT":0.126805,"consumption":3.236,"consumptionUnit":"kWh"},{"from":"2023-04-20T04:00:00.000+02:00","to":"2023-04-20T05:00:00.000+02:00","cost":1.670891475,"currency":"SEK","unitPrice":0.682275,"unitPriceVAT":0.136455,"consumption":2.449,"consumptionUnit":"kWh"},{"from":"2023-04-20T05:00:00.000+02:00","to":"2023-04-20T06:00:00.000+02:00","cost":1.250[...]
