---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__HomesQuery {\n  viewer {\n    homes
        {\n      id\n      appNickname\n    }\n  }\n}","operationName":"Tibber__Graphql__Queries__HomesQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-/9ScBTwfRue5yZRJZSqgOr+vAVg"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"homes":[{"id":"96a14971-525a-4420-aae9-e5aedaa129ff","appNickname":"Vitahuset"}]}}}

        '
  recorded_at: Fri, 28 Apr 2023 13:08:35 GMT
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__PriceInfosQuery($home_id:
        ID!) {\n  viewer {\n    home(id: $home_id) {\n      currentSubscription {\n        priceInfo
        {\n          current {\n            total\n            energy\n            tax\n            startsAt\n            currency\n            level\n          }\n          today
        {\n            total\n            energy\n            tax\n            startsAt\n            currency\n            level\n          }\n          tomorrow
        {\n            total\n            energy\n            tax\n            startsAt\n            currency\n            level\n          }\n        }\n      }\n    }\n  }\n}","variables":{"home_id":"96a14971-525a-4420-aae9-e5aedaa129ff","last":0},"operationName":"Tibber__Graphql__Queries__PriceInfosQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"185d-FEaAJSBydf2G51mR75Jaaz+3K6c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"home":{"currentSubscription":{"priceInfo":{"current":{"total":1.3832,"energy":1.0125,"tax":0.3707,"startsAt":"2023-04-28T15:00:00.000+02:00","currency":"SEK","level":"NORMAL"},"today":[{"total":1.2566,"energy":0.9113,"tax":0.3453,"startsAt":"2023-04-28T00:00:00.000+02:00","currency":"SEK","level":"EXPENSIVE"},{"total":1.1979,"energy":0.8643,"tax":0.3336,"startsAt":"2023-04-28T01:00:00.000+02:00","currency":"SEK","level":"NORMAL"},{"total":1.1865,"energy":0.8552,"tax":0.3313,"startsAt":"2023-04-28T02:00:00.000+02:00","currency":"SEK","level":"NORMAL"},{"total":1.2549,"energy":0.9099,"tax":0.345,"startsAt":"2023-04-28T03:00:00.000+02:00","currency":"SEK","level":"EXPENSIVE"},{"[...]
