---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__HomesQuery {\n  viewer {\n    homes
        {\n      id\n      appNickname\n    }\n  }\n}","operationName":"Tibber__Graphql__Queries__HomesQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-/9ScBTwfRue5yZRJZSqgOr+vAVg"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"homes":[{"id":"96a14971-525a-4420-aae9-e5aedaa129ff","appNickname":"Vitahuset"}]}}}

        '
  recorded_at: Fri, 28 Apr 2023 09:48:29 GMT
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__Graphql__Queries__ProductionQuery($home_id:
        ID!, $resolution: EnergyResolution!, $first: Int, $last: Int, $before: String,
        $after: String, $filter_empty_nodes: Boolean) {\n  viewer {\n    home(id:
        $home_id) {\n      production(resolution: $resolution, first: $first, last:
        $last, before: $before, after: $after, filterEmptyNodes: $filter_empty_nodes)
        {\n        nodes {\n          from\n          to\n          profit\n          currency\n          unitPrice\n          unitPriceVAT\n          production\n          productionUnit\n        }\n      }\n    }\n  }\n}","variables":{"home_id":"96a14971-525a-4420-aae9-e5aedaa129ff","last":1,"resolution":"HOURLY"},"operationName":"Tibber__Graphql__Queries__ProductionQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fa-HItzYvPwTNO/yUa+ILexulU6YvY"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"home":{"production":{"nodes":[{"from":"2023-04-28T10:00:00.000+02:00","to":"2023-04-28T11:00:00.000+02:00","profit":0.38553312,"currency":"SEK","unitPrice":1.24768,"unitPriceVAT":0,"production":0.309,"productionUnit":"kWh"}]}}}}}

        '
  recorded_at: Fri, 28 Apr 2023 09:48:29 GMT
recorded_with: VCR 6.1.0
